/************************ CUSTOM STYLESHEET ************************/
/***** General CSS *****/
body {word-break: break-word;font:15px/22px 'Poppins', sans-serif;color:#333333;overflow-x:hidden;}
a {text-decoration:none;color:#ec1d25;}
a:hover, a:focus {text-decoration:none;color:#333333;}
a:hover {transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;}
img {max-width:100%;}
input[type="text"]:focus, textarea:focus, input[type="password"]:focus, select:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="tel"]:focus, input[type="number"]:focus {transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;outline:none;}
select, input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"], textarea, input[type="tel"] {/*-webkit-appearance: none;-moz-appearance: none;appearance: none;*/}
ul {margin:0;padding:0;list-style-type:none;}

/***** Font Files *****/
@font-face{font-family:'Fonts Awesome';src:url(../fonts/fontawesome-webfont.eot);src:url(../fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/fontawesome-webfont.woff) format("woff"),url(../fonts/fontawesome-webfont.ttf) format("truetype"),url(../fonts/fontawesome-webfont.svg#fontawesome-webfont) format("svg");font-weight:400;font-style:normal}
h1, h2, h3, h4, h5, h6,p {font-family: 'Poppins', sans-serif;margin: 0;}
h2 {font-size: 50px;font-weight: 700;color: #43068f;margin-bottom: 10px;text-transform: uppercase;}
p {font-size: 17px;color: #707070;line-height: 25px;margin-bottom: 20px;}

/***** Buttons, Headings, Paragraph, Flex CSS *****/
.webBtn {font-size: 20px;color: #fff;background: #43068f;padding: 10px 20px;display: inline-block;border-radius: 15px;}
.webBtn:hover {color: #fff;}
.btn {border-radius: 5px;margin: 10px 10px 10px 0;text-transform: uppercase;font-size: 16px;line-height: 20px;padding: 25px 40px;font-weight: 400;text-shadow: none;border:none;}
.btn-red {background-color: #ec1d25;color: #fff;}
.btn-red:hover, .btn-red:focus {background-color: #000;color: #ec1d25;}
.centerCol {float: none;margin: 0 auto;}
.flexRow {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;align-items: center;/* width: 100%; *//* margin: 0; */}
.flexCol {-webkit-box-flex: 1;-moz-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;align-items: center;}
.rowReverse {flex-direction: row-reverse;}
.noLeft {padding-left: 0;}
.noRight {padding-right: 0;}

/***** Menu Section CSS *****/
.menuSec {position: relative;}
.menuSec ul {position:relative;list-style: none;padding: 0;margin: 0;text-align:right;font-size:20px;line-height:25px;text-transform:capitalize;font-weight: 400;}
.menuSec ul li {position: relative;display:inline-block;margin:0;padding:0;}
.menuSec li ul { display: none; }
.menuSec ul li a {text-transform: uppercase;position:relative;display:inline-block;text-decoration: none;white-space: nowrap;color:#fff;padding: 15px;font-size: 18px;color: #43068f;}
.menuSec ul li a:hover, .menuSec ul li a.active {transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;color:#000;}
.menuSec li:hover > ul {display: block;position: absolute;z-index:1000;background-color:#17144d;left:0px;width:230px;text-align:left;top:22px;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;}
.menuSec li > ul > li > a {border:none;padding:10px 20px;color:#fff !important;overflow:hidden;font-size:13px;line-height:20px;text-transform:uppercase;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;}
.menuSec li > ul > li, .menuSec li > ul > li > a {display:block;margin:0;}
.menuSec li > ul > li > a:before, .menuSec li > ul > li > a:after {display:none;}
.menuSec li:hover li { float: none; }
.menuSec li:hover a {}
.menuSec li:hover li a:hover {background-color:#fff;color: #17144d !important;}
.menuSec ul ul ul {left: 100%;top: 0;}
.menuSec ul:before, .menuSec ul:after {content: " "; display: table; }
.menuSec ul:after { clear: both; }
.menuSec li > ul > li:hover > ul {left:230px;top:0px;width:270px;}

/*header start*/
.logoSeec img {margin: 20px auto;}	
.searchSec ul li{padding: 0 15px;}
.searchSec ul li i {font-size: 20px;color: #43068f;}
.searchSec {position: relative;}
.searchSec form {position: absolute;bottom: -50px;left: 0;z-index: 9;display: none;}
.searchSec form input {width: 100%;height: 40px;box-shadow: none;border-radius: 10px;border: 1px solid #000;padding: 10px 10px 10px 10px;}
.searchSec form button {position: absolute;top: 0;right: 0;padding: 0;background: transparent;border: none;font-size: 20px;top: 8px;right: 10px;}
/*header end*/

/***** Slider Section CSS *****/
.carousel-inner>.item>a>img, .carousel-inner>.item>img {width:100%;/* height: 90vh; */object-fit: cover;}
.carousel-control.right, .carousel-control.left {background:none;opacity:1;width:78px;height:78px;top:initial;top:50%;text-shadow:none;background-color: transparent;border-radius: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;}
.carousel-control.right:hover, .carousel-control.left:hover {color:#fff;background-color: #80c2c0;}
.carousel-control.right .fa, .carousel-control.left .fa {position:relative;top:6px;font-size:20px;color:#fff;opacity:1;}
.carousel-control.right {right:10%;background: url('../images/arrow-right.png') no-repeat center center;}
.carousel-control.left {left:10%;background: url('../images/arrow-left.png') no-repeat center center;}
.carousel-indicators {left: 30%;right: 0;bottom: 100px;margin-bottom: 0;}
.carousel-indicators li {border:none;border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;background:#000;width:10px;height:10px;margin:0 2px;background-color: #fff;}
.carousel-indicators .active {margin:0 2px;background-color: #43068f;width:10px;height:10px;}
.carousel-caption {position:absolute;top:0;bottom:0;width:100%;height:100%;left:0;right:0;margin:0;padding:0;color:#fff;text-align:left;display: flex;align-items: center;/* background: rgba(78,55,21,0.8); */text-shadow: none;}
.cntnt {border-bottom: 2px solid #43068f;padding-bottom: 50px;margin-bottom: 30px;}
.cntnt h4 {font-size: 40px;font-weight: 400;color: #43068f;margin-bottom: 15px;line-height: 50px;}
.cntnt h1 {font-size: 60px;font-weight: 700;color: #43068f;margin-bottom: 20px;}
.socialIcons ul li {padding-right: 20px;}
.socialIcons ul li i {color: #43068f;font-size: 26px;}
.bannerImg {position: relative;}
.bannerImg img {width: 90%;margin: 0 auto;}
.bannerImg:before {position: absolute;content: "";top: -30px;left: -30px;width: 115%;height: 90%;border: 10px solid #43068f;border-radius: 50px 0;}

/*aboutSec start*/
.aboutSec {padding: 7% 0;}
.aboutImg {position: relative;}
.aboutImg:after {position: absolute;content: "";top: -40px;right: 0;width: 90%;height: 100%;background: #f0c4f3;border: 3px solid #43068f;border-radius: 70px 0;}
.aboutImg img {border: 10px solid #43068f;border-radius: 70px 0;width: 90%;position: relative;z-index: 9;}
.aboutCntnt {padding: 0 10%;}
.aboutCntnt h2 {position: relative;padding: 50px 50px 80px 0;margin: 0;}
.aboutCntnt h2:after{position: absolute;content: "";top: 0;left: 0;background: url('../images/h2After.png');width: 100%;height: 100%;background-position: center;background-size: 100% 100%;}
.aboutCntnt p {margin-bottom: 50px;line-height: 30px;}
.aboutCntnt a {margin: 0 auto;display: table;}
/*aboutSec end*/

/*clothingSec start*/
.clothingSec {background: #f0c4f3;padding: 4% 10%;position: relative;}
.clothingSec:before {position: absolute;content: "";top: 0;left: 0;width: 100%;height: 100%;background: #f19de3;clip-path: polygon(100% 0, 0 0, 0 100%);}
.clothingSec h2 {position: absolute;z-index: 9;top: 50%;transform: rotate(-90deg);left: -45px;margin: 0;}
.clothingSec .head img {position: absolute;top: -50px;left: 110px;width: auto;height: 90%;}
.clothingSec .col {padding: 0 5px;}
.cloth {position: relative;}
.cloth img {width: 100%;}
.cloth h6 {position: absolute;top: 50%;right: -20px;transform: rotate(-90deg);}
.cloth h6 a {font-size: 24px;display: block;font-weight: 700;text-transform: uppercase;color: #43068f;}
.sweater h6 {right: -30px;}
.jacket h6 {right: -50px;}
.polo h6 {right: -50px;}
.business h6 {right: -70px;}
.sweater,.jacket {margin-bottom: 10px;}
.clothingSec .webBtn {margin: 50px auto 0;display: table;}	
/*clothingSec end*/

/*accessoriesSec start*/
.accessoriesSec {padding: 5% 0;}
.accessoriesSec h2{margin-bottom: 30px;text-align: center;position: relative;padding: 50px 50px 100px;}
.accessoriesSec h2:after{position: absolute;content: "";top: 0;left: 0;background: url('../images/h2After.png');width: 120%;height: 100%;background-position: center;background-size: 100% 100%;}
.accessoriesSec .col {padding: 0 5px;}
.accessories {position: relative;}
.accessoriesSec h6 {position: absolute;bottom: 10px;left: 10px;}
.accessoriesSec h6 a {font-size: 18px;display: block;font-weight: 700;text-transform: uppercase;background: #43068f;color: #fff;width: max-content;padding: 5px 20px;}
.bracelet,.watch {margin-bottom: 10px;}
.accessoriesSec .webBtn {margin: 50px auto 0;display: table;}	
/*accessoriesSec end*/

/*eventSec start*/
.eventSec {background: #f0c4f3;padding: 4% 10%;position: relative;}
.eventSec:before {position: absolute;content: "";top: 0;left: 0;width: 100%;height: 100%;background: #f19de3;clip-path: polygon(100% 0, 0 0, 0 100%);}
.eventSec h2 {position: absolute;z-index: 9;top: 50%;transform: rotate(-90deg);left: -115px;margin: 0;}
.eventSec .head img {position: absolute;top: -50px;left: 115px;width: auto;height: 100%;}
.eventSec .webBtn {margin: 50px auto 0;display: table;}	
/*eventSec end*/	

/*testimonialSec start*/
.testimonialSec {padding: 5% 0;}
.testimonialSec h2 {position: relative;text-align: center;margin-bottom: 50px;padding: 50px;}
.testimonialSec h2:after{position: absolute;content: "";top: 0;left: 0;right: -300px;margin: 0 auto;background: url('../images/h2After.png');width: 120%;height: 130%;background-position: center;background-size: 100% 100%;}
.testimonialSec .testCntnt p {font-size: 20px;line-height: 32px;margin: 0;}
.testimonialSec .slick-dots li {margin: 0;}
.testimonialSec .slick-dots li button:before {font-size: 50px;opacity: 1;}
.testimonialSec .slick-dots li.slick-active button:before {opacity: 1;color: #43068f;}
/*testimonialSec end*/

/*footer start*/
footer {background: #43068f;padding: 5% 0;}
footer h6 {font-size: 20px;margin-bottom: 20px;color: #fff;font-weight: 700;}
footer .footerImg {margin-top: 50px;}
footer .socialIcons ul {margin-top: 30px;text-align: center;}
footer .socialIcons ul li {margin: 0;}
footer .socialIcons ul li i {color: #fff;transition: 1s all;}
footer .socialIcons ul li i:hover {transform: scale(1.2);color: #eca5c5;}
footer .quickLinks {margin: 0 auto;display: table;}
footer .footerCntnt ul li a {font-size: 18px;color: #fff;display: block;transition: 1s all;}
footer .footerCntnt ul li a:hover {transform: scale(1.2);color: #f0c4f3;}
footer .footerCntnt ul li {margin-bottom: 12px;}
footer .footerCntnt p {font-size: 16px;color: #fff;margin-bottom: 0;}
/*footer end*/

/*bottomRow start*/
.bottomRow {background: #f0c4f3;}
.bottomRow p {margin: 0;padding: 10px 0;text-align: center;color: #43068f;}
/*bottomRow end*/

/*login Modal start*/
.modal-dialog {margin: 0 auto;display: flex;flex-direction: column;height: 100%;align-content: center;justify-content: center;}
.modal-body {padding: 50px;background-image: url('../images/bannerBg.jpg');background-position: center;background-size: cover;}
.modal-body img {margin: 0 auto 30px;}
.modal-body h2 {text-align: center;margin-bottom: 20px;}
.modal-body .form-control {width: 100%;height: 45px;box-shadow: none;border-radius: 10px;border: 2px solid #43068f;}
.modal-body label{margin: 0;color: #000;font-weight: 700;font-size: 16px;}
.modal-body .forgetLink a {font-size: 16px;color: #000;font-weight: 700;text-decoration: underline;}
.modal-body button {margin: 20px auto 0;display: table;border: none;width: 40%;}
.modal-body button.close {position: absolute;top: -10px;right: -20px;opacity: 1;background: #43068f;color: #fff;text-shadow: none;width: 30px;height: 30px;border-radius: 50%;margin: 0;}
/*login Modal end*/

/*innerPgs start*/
.innerBannerSec .carousel-inner>.item>a>img,.innerBannerSec .carousel-inner>.item>img {height: 50vh;}
.innerBannerSec .cntnt {padding: 0;margin: 0;border: none;}
.innerBannerSec .cntnt h1 {margin: 0;}

/*aboutPg start*/
.aboutPg .aboutSec {padding: 7% 0 0;}
.aboutPg .abtBtmCntnt {padding: 0;}
.aboutPg .abtBtmCntnt p {margin-bottom: 10px;}
/*aboutPg end*/

/*contactPg start*/
.contactPg .contactSec{padding: 100px 0;}
.contactPg .contactSec .secHead {font-size: 50px;color: #000;text-align: center;}
.contactPg .form-control {height: 50px;border-radius: 0;box-shadow: none;padding-left: 50px;outline: none;}
.contactPg textarea {width: 100%;border-radius: 0;box-shadow: none;resize: none;padding: 10px;padding-left: 50px;outline: none;border: 1px solid #ccc;}
.contactPg .form-group {position: relative;}
.contactPg .form-group i {position: absolute;top: 15px;left: 10px;font-size: 20px;color: #7f7f7f;}
.contactPg .formSec i:after {position: absolute;content: "";top: -13px;left: 27px;background: url('../images/divider.png');width: 40%;height: 220%;background-size: 100% 100%;}
.contactPg button {background: #43068f;width: 100%;text-align: center;text-transform: uppercase;border-radius: 15px;border: none;font-weight: 600;font-size: 18px;font-family: 'Poppins';color: #fff;height: 50px;margin: 0 auto;display: table;outline: none;}
.contactPg .mailingSec li {margin-bottom: 10px;border: 1px solid #ccc;padding: 10px 20px 0px 100px;position: relative;height: 110px;align-content: center;justify-content: center;display: flex;flex-direction: column;}
.contactPg .mailingSec i {color: #43068f;font-size: 34px!important;border: 2px solid #43068f;width: 70px;height: 70px;border-radius: 50%;padding: 17px;text-align: center;position: absolute;left: 10px;top: 20px;}
.contactPg .mailingSec h6{color: #000;font-family: 'Roboto';font-size: 17px;font-weight: 500;margin-bottom: 5px;text-transform: uppercase;}
.contactPg .mailingSec p{color: #5c5c5c;font-family: 'Roboto';font-size: 16px;font-weight: 400;margin: 0;}
/*contactPg end*/

/*cartPg start*/
.cartPg{padding: 7% 0;}
.cartTable tr{background: #fafafa;margin-bottom: 20px;padding: 0 0 0 20px;display: block;border-radius: 20px;}
.cartTable table>tbody>tr>td,.cartTable table>tbody>tr>th{vertical-align: middle!important;border:none;padding: 30px 10px;position: relative;}
.cartTable td.col-md-6 span {position: absolute;top: 35%;left: 60%;width: 100%;display: block;}
.cartTable td span h6 {font-size: 16px;color: #636363;margin-bottom: 10px;}
.cartTable td span h4{font-size: 25px;color: #43068f;font-weight: 700;}
.cartTable td p {font-size: 15px;color: #636363;margin: 0;}
.cartTable th{background: #f0f0f0;border-radius: 0 20px 20px 0;}
.cartTable .quantitySec{text-align: center;}
.cartTable .quantitySec input{text-align: center;height: 100px;background: transparent;border: none;font-size: 20px;width: 100%;}
.cartTable .quantitySec button {border: none;background: none;padding: 0;}
.cartTotal{background: #fafafa;padding: 37px 30px;border-radius: 20px;margin-bottom: 20px;}
.cartTotal li {font-size: 16px;color: #636363;margin-bottom: 10px;}
.cartTotal li h6 {font-size: 25px;color: #131313;font-weight: 700;}
.cartTotal li h5 {font-size: 25px;color: #43068f;font-weight: 700;}
.cartTotal ul p {margin: 10px 0 0 0;}
.paymentMethod button {width: 100%;background: #43068f;border: none;padding: 10px;border-radius: 50px;color: #fff;font-size: 16px;margin-bottom: 10px;}
.paymentMethod p {font-size: 14px;color: #636363;}
.paymentMethod a {width: 100%;background: #43068f;border: none;padding: 10px;border-radius: 50px;color: #fff;font-size: 16px;margin-bottom: 10px;display: block;margin-top: 15px;text-align: center;}
/*cartPg end*/

/*checkoutPg start*/
.checkoutSec{padding: 7% 0;}
.personalInfoCntnt {padding: 50px 50px 0 50px;}
.personalInfo{background: #fafafa;border-radius: 50px;}
.personalInfo h2{background: #43068f;color: #000;border-radius: 30px 30px 0 0;font-size: 24px;color: #fff;text-transform: uppercase;font-weight: 700;padding: 15px 20px;}
.personalInfoCntnt h6 {margin-bottom: 20px;font-size: 16px;line-height: 26px;}
.personalInfoCntnt .form-group {clear: both;display: flex;padding-left: 30px;position: relative;}
.personalInfoCntnt .form-control {height: 45px;border-radius: 50px;box-shadow: none;padding: 10px;float: right;font-size: 13px;color: #636363;border: none;background: #f0f0f0;width: 70%;}
.personalInfoCntnt label {width: 120px;font-weight: 400;margin: 0;position: relative;top: 10px;} 
.personalInfoCntnt .form-group form {position: relative;width: 100%;}
.personalInfoCntnt .form-group form button {position: absolute;top: 0;right: 0;}
.personalInfoCntnt .form-group button {position: absolute;top: 0;right: 50px;background: #43068f;border: none;height: 100%;padding: 10px 30px;color: #fff;border-radius: 0 50px 50px 0;text-transform: uppercase;}
.personalInfoCntnt .form-group p {position: relative;top: 10px;right: -20px;font-size: 14px;margin: 0;}
.conditionSec{padding-left: 220px;padding-bottom: 50px;}
.conditionSec .form-check{margin-bottom: 10px;}
.conditionSec label {font-weight: 400;margin: 0;} 
.conditionSec input{margin-right: 5px;}
.conditionSec p{font-size: 16px;color: #636363;padding-right: 100px;margin-bottom: 20px;}
.conditionSec button {border: none;padding: 10px 80px;border-radius: 50px;color: #fff;font-size: 16px;text-transform: uppercase;}
.checkoutTotal {background: #43068f;padding: 50px 40px 30px;border-radius: 25px;margin-bottom: 40px;}
.checkoutTotal li{margin-bottom: 20px;color: #fff;font-size: 16px;}
.securitySec{background: #fafafa;padding: 40px 40px;border-radius: 25px;}
.securitySec li{position: relative;padding-left: 50px;font-size: 16px;color: #000;margin-bottom: 10px;}
.securitySec li:last-child{margin-bottom: 0;}
.securitySec li i{position: absolute;top: 5px;left: 0;font-size: 20px;}
/*checkoutPg end*/

/*proDetPg start*/
.proDetSec {padding: 7% 0;}
.proDetSec .proDetImg {border: 1px solid #000;padding: 50px 20px;}
.proDetSec .proDetImg i {position: absolute;bottom: 10px;right: 30px;width: 50px;height: 50px;background: #43068f;text-align: center;color: #fff;border-radius: 50%;font-size: 30px;padding: 9px 0;}
.proDetSec .proDetCntnt h2{font-size: 40px;color: #000;margin: 0 0 10px 0;font-weight: 600;text-transform: uppercase;}
.proDetSec .proDetCntnt h3{font-size: 40px;color: #43068f;margin: 0 0 10px 0;font-weight: 600;text-transform: uppercase;}
.proDetSec .proDetCntnt p {color: #000;margin-bottom: 20px;font-size: 16px;line-height: 27px;}
.proDetSec .quantitySec button {color: #000;font-size: 13px;width: 30px;height: 40px;margin: 0 -4px;border-radius: 0;border: 1px solid #000;position: relative;top: -2px;}
.proDetSec .quantitySec input {width: 80px;text-align: center;height: 40px;font-size: 16px;border: 1px solid #000;background: transparent;border-right: none;border-left: none;color: #000;top: 0;position: relative;}
.proDetSec .cartBtn a {display: inline-block;text-align: center;font-size: 18px;color: #fff;font-weight: 400;padding: 10px 20px;border-radius: 5px;}
/*proDetPg end*/

/*spacialEventPg start*/
.spacialEventPg .spacialEventSec {padding: 7% 0;}
.spacialEventPg .spacialEventSec h2 {margin-bottom: 30px;text-align: center;position: relative;padding: 50px 50px 100px;}
.spacialEventPg .spacialEventSec h2:after {position: absolute;content: "";top: 0;left: 0;background: url(../images/h2After.png);width: 120%;height: 100%;background-position: center;background-size: 100% 100%;}
.spacialEventPg .eventImg {margin-bottom: 30px;}
/*spacialEventPg end*/

/*clothingPg start*/
.clothingPg .clothSec {padding: 7% 0 0;}
.clothingPg .clothSec h2 {margin-bottom: 30px;text-align: center;position: relative;padding: 50px 50px 100px;}
.clothingPg .clothSec h2:after {position: absolute;content: "";top: 0;left: 0;background: url(../images/h2After.png);width: 120%;height: 100%;background-position: center;background-size: 100% 100%;}
.nav-tabs {border: none;margin: 0 auto 30px;text-align: center;display: table;}
.nav-tabs a {margin: 0 5px;color: #fff;font-size: 17px;text-transform: capitalize;width: 150px;background: #43068f;border-radius: 15px!important;}
.nav-tabs a:hover {background: #f7bacf!important;color: #000;}
.nav-tabs .active a {background: #f7bacf!important;color: #000!important;opacity: 1;}
.product {margin-bottom: 30px;}
.product img {border: 1px solid #000;width: 100%;height: 350px;object-fit: cover;padding: 30px;}
/*clothingPg end*/

/*innerPgs start*/





